{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">

    {% block header %}{% endblock %}

    <div class="columns">
      <div class="column is-8">
        {% block main %}{% endblock %}
      </div>

      <div class="column is-4">
        <div class="content">
          <h2 class="title is-6">Productivity</h2>
          <p>
            <strong>List:</strong> {{ project.list|capitalize }}<br>
            <strong>State:</strong> {{ project.state|upper }}<br>
            <strong>Priority:</strong> {{ project.priority|upper }}<br>
          </p>
          <hr>
          <h2 class="title is-6">Metadata</h2>
          <p>
            <strong>ID:</strong> {{ project.id }}<br>
            <strong>Created:</strong> {{ project.created_at }}<br>
            <strong>Updated:</strong> {{ project.updated_at }}
          </p>
        </div>
      </div>
    </div>

    {% block upload %}
    <div class="content mt-5">
      <h2 class="title is-6">PDF Scrolls</h2>
      <form action="/project/{{ project.id }}/upload" method="POST" enctype="multipart/form-data">
        {% csrf-field %}
        <div class="field has-addons">
          <div class="control">
            <div class="file is-primary has-name">
              <label class="file-label">
                <input class="file-input" type="file" name="pdf" accept="application/pdf">
                <span class="file-cta">
                  <span class="file-label">Choose PDF scroll</span>
                </span>
                <span class="file-name">No scroll selected</span>
              </label>
            </div>
          </div>
          <div class="control">
            <button class="button is-primary">Upload</button>
          </div>
        </div>
      </form>
    </div>
    {% endblock %}

  </div>
</section>
{% endblock %}
