{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">

    <div class="mb-6">

      <div class="is-flex is-align-items-center">
        <h1 class="title is-2 mb-0">{{ project.title }}</h1>
        <figure class="image is-48x48 ml-3">
          <img src="/img/dwarfs/{{ project.dwarf_group }}/{{ project.dwarf }}.png">
        </figure>
      </div>

      <p class="subtitle is-6">
        {% if project.is_personal %}Personal{% else %}Requested{% endif %}
      </p>

    </div>

    <div class="columns">
      <div class="column is-8">
        {% block main %}{% endblock %}
      </div>

      <div class="column is-4">
        <div class="content">
          <h2 class="title is-6">Productivity</h2>
          <p>
            <strong>List:</strong> {{ project.list|capitalize }}<br>
            <strong>State:</strong> {{ project.state|upper }}<br>
            <strong>Priority:</strong> {{ project.priority|upper }}<br>
          </p>
          <hr>
          <h2 class="title is-6">Metadata</h2>
          <p>
            <strong>ID:</strong> {{ project.id }}<br>
            <strong>Created:</strong> {{ project.created_at }}<br>
            <strong>Updated:</strong> {{ project.updated_at }}
          </p>
        </div>
      </div>
    </div>

    {% block upload %}{% endblock %}

  </div>
</section>
{% endblock %}
