{% extends "project/_base.html" %}

{% block main %}
<form action="/project/{{ project.id }}/update" method="POST">
  {% csrf-field %}

  <input type="hidden" name="list" value="{{ project.list }}">
  <input type="hidden" name="state" value="{{ project.state }}">
  <input type="hidden" name="priority" value="{{ project.priority }}">

  <div class="content">
    <h2 class="title is-6">Title</h2>
    <div class="field">
      <div class="control">
        <input class="input" type="text" name="title" value="{{ project.title }}" required />
      </div>
    </div>
  </div>

  <div class="content mt-5">
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" name="is_personal" value="true" {% if project.is_personal %}checked{% endif %}>
          Personal project ?
        </label>
      </div>
    </div>
  </div>

  <div class="content mt-5">
    <h2 class="title is-6">Description</h2>
    <div class="field">
      <div class="control">
        <textarea class="textarea" name="description" rows="2" required>{{ project.description }}</textarea>
      </div>
    </div>
  </div>

  <div class="content mt-5">
    <h2 class="title is-6">Details</h2>
    <div class="field">
      <div class="control">
        <textarea class="textarea" name="details" rows="7">{{ project.details }}</textarea>
      </div>
    </div>
  </div>

  <div class="content mt-5">
    <h2 class="title is-6">Tech Stack</h2>
    <div class="field">
      <label class="label">Programming Language</label>
      <div class="control">
        <input class="input" type="text" name="programming_lang" value="{{ project.programming_lang }}" />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" name="has_test_suite" value="true" {% if project.has_test_suite %}checked{% endif %}>
          Test Suite included ?
        </label>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" name="is_open_source" value="true" {% if project.is_open_source %}checked{% endif %}>
          Open Source ?
        </label>
      </div>
    </div>
  </div>

  <div class="content mt-5">
    <h2 class="title is-6">Finance</h2>
    <div class="field is-grouped">
      <div class="control">
        <label class="label">Hours Worked</label>
        <input class="input" type="number" name="hours_worked" step="0.1" value="{{ project.hours_worked_display }}" />
      </div>
      <div class="control is-expanded">
        <label class="label">Hourly Rate ($)</label>
        <input class="input" type="number" name="hourly_rate" step="0.01" value="{{ project.hourly_rate_display }}" />
      </div>
    </div>
  </div>

  <div class="buttons mt-2">
    <button class="button is-small is-primary" type="submit">💾 Save</button>
    <a class="button is-small is-warning" href="/project/{{ project.id }}">❌ Cancel</a>
  </div>

</form>
{% endblock %}

{% block upload %}{% endblock %}
